body{
    background-image: url("https://graffitiwallpaper.com/pics/listings/337_wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#search{
    display: flex;
    justify-content: center;
}

textarea{
    width: 300px;
    height: 30px;
    font-size: 25px;
}

#planet-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
}
.planet{
    /* border: 3px solid black; */
    border-radius: 15%;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    /* background-color: white; */
    background: linear-gradient(135deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 70%);
    width: 200px;
    height: 225px;
    text-align: center;
    /* position: absolute; this makes them stack*/
    margin: 2%;
    padding: 3%;
}
.planet h1{
    line-height: 175px;
}