body{
    background-image: url("https://graffitiwallpaper.com/pics/listings/337_wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

#search{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

textarea{
    width: 300px;
    height: 30px;
    font-size: 25px;
}

#planet-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
}
.planet{
    border-radius: 15%;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    background: linear-gradient(135deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 70%);
    width: 200px;
    height: 225px;
    text-align: center;
    margin: 3%;
    padding: .2%;
    position: relative;
    display: flex;
}
.planet h1{
    line-height: 175px;
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 250px;
}

.planet img{
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 225px;
    object-fit: fill;
    border-radius: 15%;
}

h1:hover{
    z-index: -1;
}

.planet:hover{
    z-index: -1;
}

/* img:hover{
    z-index: 2;
} */

#planet-image:hover{
    z-index: 1;
}